
<div class="col-md-12">
  <div class="dropdown">
    <button class="btn btn-default btn-transparent dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      <span class="glyphicon glyphicon-option-vertical"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="#">Create Table</a></li>
      <li><a href="#">Create View</a></li>
    </ul>
  </div>
</div>


{{yield}}
